node_modules
frontend/node_modules

#backend please work as well
backend/tmp/
backend/*.exe
backend/*.test
backend/vendor/
backend/server

#frontend I hope this works pleas
frontend/.output
frontend/.vercel
frontend/.netlify
frontend/.wrangler
frontend/.svelte-kit
frontend/build

# Output
#.output
#.vercel
#.netlify
#.wrangler
#/.svelte-kit
#/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


